@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkGrey: #1a1a1a;
  --white: #ffffff;
}

body {
  font-family: "Heebo", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--darkGrey);
}

body.dark {
  --background-color: var(--darkGrey);
  --text-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  padding: 10px 15px;
}

/* ------ START NAV STYLES ----- */

#darkMode {
  margin-right: 15px;
  margin-top: 5px;
  background: transparent url("../resources/img/siwtchOff.svg") no-repeat center;
  color: #fff;
  border: none;
  background-size: 40px;
  width: 60px;
  height: 40px;
}

#darkMode.clicked {
  background: transparent url("../resources/img/siwtchOn.svg") no-repeat center !important;
  border: none;
  background-size: 40px !important;
  width: 60px;
  height: 40px;
}

.darkModeBtn {
  margin-right: 20px;
  margin-top: 5px;
  background: none;
  border: none;
}

.darkModeOn {
  color: #bfd732;
  font-size: 26px;
}

.darkModeOff {
  color: #1a1a1a;
  font-size: 26px;
}

.navProfilePick {
  margin-right: 20px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.navProfilePick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksNav {
  margin-top: 10px;
  text-align: right;
  text-decoration: none;
  color: #444444;
}

.linksNav:hover {
  color: #bfd732;
}

.logOutBtn {
  text-align: right;
  background: none;
  border: none;
  color: #444444;
}

.logOutBtn:hover {
  color: #bfd732;
}

.navMenu {
  display: flex;
  align-items: center;
}

.dropDown {
  position: relative;
  display: block;
}

.dropDownMenu {
  background: none;
  border: none;
}

.dropDownMenuIcon {
  color: #bfd732;
  margin-top: 10px;
  font-size: 30px;
}

.dropDownSubMenuClosed {
  background-color: rgba(255, 255, 255, 0.685);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 140px;
  right: 15px;
  top: 60px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.dropDownSubMenuOpen {
  background-color: rgba(255, 255, 255, 0.685);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
  position: absolute;
  z-index: 1;
  width: 140px;
  right: 15px;
  top: 60px;
  min-height: 80px;
  max-height: 150px;
  overflow: hidden;
  transition: all 300ms ease;
}

/* ------ END NAV STYLES ----- */

/* ------ START WELCOME STYLES ----- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translate(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translate(-15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes goButton {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.welcome__container {
  margin: 1em;
  height: 60vh;
  background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
    url("../assets/main.jpg");
  background-size: cover;
  background-position: left;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.welcome__box {
  text-align: center;
  color: #444444;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.301);
}
.welcome__title {
  animation: moveInLeft 1s ease-in;
}
.welcome__message {
  font-style: italic;
  animation: moveInRight 1s ease-in;
}
.welcome__goButton {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
  margin-top: 15px;
  padding: 12px 50px;
  border-radius: 100px;
  border-color: #bfd732;
  animation: goButton 1s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition: all 0.2s;
}

.welcome__goButton::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.welcome__goButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.welcome__goButton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.welcome__goButton:active {
  transform: translateY(1px);
}

/* ------ END WELCOME STYLES ----- */

/* ------ START MODAL STYLES ----- */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  min-height: 100px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}

.modalContainer form {
  display: flex;
  flex-direction: column;
}

.modalContainer input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.loadImageBtn {
  text-align: center;
  background-color: #bfd732;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.modalSendBtn {
  padding: 5px;
  background-color: rgb(209, 209, 209);
  border: none;
  margin-bottom: 5px;
}

.modalCancelBtn {
  color: white;
  font-weight: 600;
  padding: 5px;
  background-color: rgb(255, 0, 0);
  border: none;
}

/* ------ END MODAL STYLES ----- */

/* -------- START CARDS STYLES-------- */

.friendIconsAdd {
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #bfd732;
  color: white;
  border-radius: 50%;
}

.friendIconsRemove {
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
}

.dropDownMenu {
  background: none;
  border: none;
}

.addRemoveFrienIcon {
  font-size: 18px;
}

.cardContainer {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPhotoContainer {
  position: relative;
}

.cardContainer h5 {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.cardImg {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.cardImg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.501);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
}

.image-overlay:hover {
  opacity: 1;
}
.linksFriend{
  text-decoration: none;
  color: #fff;
}
.linksFriend:hover{
  color: #bfd732;
}

/* ------ END CARDS STYLES ------- */

/* ------ START FRIENDS COMPONENT STYLES ------- */

.friendsCompContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends_container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.friendsSearch {
  margin-top: 15px;

  display: flex;
  align-items: center;
}

.friendsSearch button {
  background: none;
  border: none;
  margin-bottom: 30px;
}



/* ------ END FRIENDS COMPONENT STYLES ------- */

/* ------ START MIS DATOS COMPONENT STYLES ------- */
.misDatosContainer {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misDatosContainer > h6 {
  margin-bottom: 30px;
}

.editBtnContainer {
  padding: 0;
}

.misDatosContainer form {
  margin-top: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editInputsContainer h5 {
  margin: 10px 15px 0 0;
}

.misDatosBtns {
  background: none;
  border: none;
  transform: translateY(10px);
  font-size: 20px;
}

.editInputsContainer input {
  width: 250px;
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid #bfd732;
}

.hrDatos {
  width: 350px;
  margin-top: 5px;
}

.hrInvisible {
  visibility: hidden;
  width: 350px;
  margin-top: 5px;
}

.editInfoIcon {
  font-size: 26px;
  color: #bfd732;
}

.submitInfoIcon {
  font-size: 30px;
  color: #bfd732;
}

.cancelEditIcon {
  font-size: 22px;
  color: #ff0000;
}

.misDatosLabel {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0;
  color: rgb(133, 133, 133);
}
/* ------ END MIS DATOS COMPONENT STYLES ------- */

.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}
.signin__title {
  text-align: center;
  font-size: 24px;
  margin: 30px;
}
.signin__validationCod {
  display: flex;
  justify-content: end;
}
.signin__validationCod--title {
  position: relative;
  font-size: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.signin__validationCod--message {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.signin__subtitle {
  font-size: 18px;
  align-self: flex-start;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}

.form__input {
  margin-bottom: 30px;
}

.form__input input {
  width: 279px;
  height: 37px;
  padding: 10px;
  flex-grow: 2;
  border: 1px solid #bfd732;
  border-radius: 5px 0 5px 0;
}
input:focus {
  outline: none;
}

.form__input--errormessage {
  font-size: 12px;
  padding: 3px;
  margin-top: 0;
  color: red;
  display: none;
}
.form a {
  font-size: 15px;
  align-self: center;
  text-decoration: none;
  color: #444444;
}
.form svg {
  height: 30px;
  color: #bfd732;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
  position: absolute;
}

.btn {
  padding-left: 24px;
  align-self: center;
  width: 150px;
  height: 35px;
  margin: 20px;
  background: #fff;
  color: #444444;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
}

.footer {
  position: relative;
  padding: 30px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.profile_container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePhotoContainer {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
}

.editProfilePhotoBtn {
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border: solid 4px white;
  width: 50px;
  height: 50px;
  background: #bfd732;
  border-radius: 50%;
}

.editPhotoIcon {
  color: white;
  font-size: 24px;
}

.profile_links {
  width: 100%;
  padding: 25px;
}

.profile_links div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bfd732;
}

.profile_links h4 {
  font-weight: 200;
  font-size: 18px;
}

.link_arrows {
  text-decoration: none;
  color: #bfd732;
  font-size: 30px;
}

.link_check {
  text-decoration: none;
  color: #bfd732;
  font-size: 30px;
  padding-bottom: 10px;
}

hr {
  align-self: center;
  width: 50%;
  border-top: 2px solid #bfd732;
}

.floor {
  width: 50vh;
  height: 50vh;
}

.selector__container {
  position: relative;
}

.selector__box {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
    url("../assets/selector.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  margin-bottom: 1em;
  padding-top: 12px;
}
.selector__inputs {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selector__inputs select,
.selector__inputs input {
  width: 30vh;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  display: block;
  align-self: center;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #bfd732;
}

.floor_container {
  overflow: scroll;
  width: 300px;
  height: 298px;
  border: 5px solid #666666;
  background: #fff;
}

/* ///////////// CALENDAR  \\\\\\\\\\\\\ */
.image_calendar {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.userImg_calendar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #29ABE2;
}

.close-buton-container {
  display: flex;
  justify-content: end;
}

.close_calendar {
  font-size: 1.8rem;
  color: #fff;
  margin: 5px 3px;
}

.calendar_container {
  margin: 2em auto 2em auto;
  width: 90% !important;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
}

.event_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.event_calendar {
  font-size: 0.9rem;
  color: #fff;
  margin-left: 2px;
}
.event_timeText {
  font-size: 1rem;
  margin-right: 15px;
  color: #fff;
  margin-left: 4px;
}

.delete_envent {
  font-size: 1.2rem;
  right: 3px;

  color: #fff;
}
.delete_envent:hover {
  color: #e20909;
}

.addParticipantsIcon {
  font-size: 1.2rem;
}
.addParticipantsIconinEvent {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 4px;
}

.addParticipantsIconinEvent:hover {
  color: #bfd732;
}
.addIconEvent {
  border: #ff0000 solid 1px;
}

.fc .fc-toolbar-title {
  margin-left: 3px !important;
  margin-right: 3px !important;
  font-size: 1.5rem !important;
  color: #1a1a1a;
}

.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #bfd732 !important;
  background-color: var(--fc-button-bg-color, #bfd732) !important;
  border-color: #bfd732 !important;
  border-color: var(--fc-button-border-color, #bfd732) !important;
}

.fc .fc-button-primary:hover {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #444444 !important;
  background-color: var(--fc-button-bg-color, #444444) !important;
  border-color: #444444 !important;
  border-color: var(--fc-button-border-color, #444444) !important;
}

.fc-timegrid-event .fc-event-main {
  padding: 1px 1px 0;
  overflow: hidden;
  text-align: center;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem !important;
}

.fc .fc-daygrid-more-link {
  font-size: 0.35rem;
  color: #f7931e;
  background-color: #f7931e;
  display: flex;
  bottom: 10px !important;
  width: 85%;
  left: 5px;
}

.fc .fc-daygrid-day-number {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  color: #1a1a1a;
}
.fc .fc-timegrid-axis-cushion {
  color: #1a1a1a;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0 !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-radius: 5px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-radius: 10px;
  border: 1px solid var(--fc-border-color, #bfd732) !important;
}

.fc .fc-scrollgrid-liquid {
  border-style: none !important;
}

.recover {
  text-align: center;
}

.desk__calendar {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

/* --------- pop over ----- */
.fc-popover-header {
  background: #dadada!important;
  color: rgb(18, 18, 18);
}

.fc-popover-body {
  background-color: #00292E;
}

.fc-theme-standard .fc-popover {
  border: 1.5px solid #bfd732 !important;
  overflow: scroll;
  max-height: 200px;
}

/* --------- RESERVAS ---------- */

.booking_container {
  width: 95%;
  margin-top: 5px;
}
.event-booking{
  display: flex;
  justify-content: space-between;
}

.fc-theme-standard .fc-list {
  border: 1px solid #bfd732 !important;
}
.fc-theme-standard .fc-list-day-cushion {
  background-color: #bfd732 !important;
  background-color: var(--fc-neutral-bg-color, rgba(208, 208, 208, 0.3));
}
.fc .fc-list-table {
  width: 100%;
  border-style: hidden;
  border-top-style: hidden !important;
}

.fc-theme-standard .fc-list-day-cushion {
  text-decoration: none !important;
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text {
  text-decoration: none !important;
  color: #fff;
}

.fc-direction-ltr .fc-list-day-side-text,
.fc-direction-rtl .fc-list-day-text {
  text-decoration: none !important;
  color: #fff;
}

.fc .fc-list-event-dot {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 3px !important;
  color: #f7931e !important;
  border: 5px solid #f7931e !important;
  margin-right: 15px;
}

.fc-direction-ltr .fc-list-table .fc-list-event-graphic {
  display: flex;
  justify-content: center;
}

.fc .fc-list-table td,
.fc .fc-list-day-cushion {
  justify-content: end;
  text-align: end;
}
.fc .fc-list-table td {
  background: none !important;
}

.swal-modal {
  max-width: 400px;
}

/* --------- ADD PARTICIPANTS  ----------- */
.close_addParticipants {
  position: absolute;
  font-size: 1.8rem;
  right: 20px;
}

.friends_containerAddP {
  width: 100%;
  padding: 20px;
  margin: 29px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px;
  border-radius: 10px;
}

.IconsAddParticipants {
  display: flex;
  padding-left: 2px;

  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #bfd732;
  color: white;
  border-radius: 50%;
}

.IconsRemoveParticipants {
  display: flex;
  padding-left: 2px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
}

@media all and (min-width: 600px) {
  .floor_container {
    width: 590px !important;
    height: 297px !important;
  }
  .floor_container canvas {
    width: 590px !important;
    height: 297px !important;
  }
}

@media all and (min-width: 768px) {
  .floor_container {
    width: 75% !important;
  }
  .selector__box {
    width: 30%;
    background: #bfd732;
    height: 297px;
    margin-bottom: 0;
  }
  .selector__inputs {
    flex-direction: row;
    justify-content: center;
  }
  .selector__inputs select,
  .selector__inputs input {
    width: 90%;
  }
  .selector__img {
    width: 95%;
    height: 8rem;
    background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
      url("../assets/selector.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    margin: 10px;
  }
}
