@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkGrey: #1a1a1a;
  --white: #ffffff;
}

body {
  position: relative;
  font-family: "Heebo", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  padding-bottom: 120px;
  min-height: 100vh;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--darkGrey);
}

body.dark {
  --background-color: var(--darkGrey);
  --text-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}
.signin__title {
  text-align: center;
  font-size: 24px;
  margin: 30px;
}
.signin__validationCod {
  display: flex;
  justify-content: end;
}
.signin__validationCod--title {
  position: relative;
  font-size: 12px;
  margin-bottom: 0;
  cursor: pointer;
}

.signin__validationCod--message {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.signin__subtitle {
  font-size: 18px;
  align-self: flex-start;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}

.form__input {
  margin-bottom: 30px;
}

.form__input input {
  width: 279px;
  height: 37px;
  padding: 10px;
  flex-grow: 2;
  border: 1px solid #bfd732;
  border-radius: 5px 0 5px 0;
}
input:focus {
  outline: none;
}

.form__input--errormessage {
  font-size: 14px;
  padding: 3px;
  margin-top: 0;
  color: red;
  display: none;
}
.form a {
  font-size: 15px;
  align-self: center;
  text-decoration: none;
  color: #444444;
}
.form svg {
  height: 30px;
  color: #bfd732;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
  position: absolute;
}

.btn {
  padding-left: 24px;
  align-self: center;
  width: 150px;
  height: 35px;
  margin: 20px;
  background: #fff;
  color: #444444;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
}

.footer {
  position: absolute;
  padding: 30px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.profile_links h4 {
  font-weight: 200;
  font-size: 18px;
}

.link_arrows {
  text-decoration: none;
  color: #bfd732;
  font-size: 30px;
}

.link_check {
  text-decoration: none;
  color: #bfd732;
  font-size: 30px;
  padding-bottom: 10px;
}

hr {
  align-self: center;
  width: 50%;
  border-top: 2px solid #bfd732;
}

.floor {
  width: 50vh;
  height: 50vh;
}

.selector__container {
  position: relative;
}

.selector__box {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
    url("../assets/selector.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  margin-bottom: 1em;
  padding-top: 12px;
}
.selector__inputs {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selector__inputs select,
.selector__inputs input {
  width: 30vh;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  display: block;
  align-self: center;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #bfd732;
}

select {
  background: URL("../resources/img/flechaSelect.png") no-repeat 95%
    rgb(255, 255, 255) !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.floor_container {
  overflow: scroll;

  width: 300px;
  height: 298px;
  border: 5px solid #666666;
  background: #fff;
}

.floor_container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.floor_container::-webkit-scrollbar-thumb {
  background: #bfd732;
  border-radius: 4px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translate(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translate(-15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.floor_container--empty {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #444444;
  width: 300px;
  height: 298px;
  border: 5px solid #666666;
  background: #fff;
  background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
    url("../assets/main.jpg");
  background-size: cover;
  background-position: left;
}

.floor_container--empty h3 {
  animation: moveInLeft 1.5s ease-out;
}
.floor_container--empty h5 {
  animation: moveInRight 1.5s ease-out;
}
.references {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.references__container {
  position: relative;
}
.close_references {
  position: absolute;
  cursor: pointer;
  right: -5px;
}

.references__table {
  margin: 2em auto 2em auto;
  width: 93%;
  margin-top: 150px;
  min-width: 300px;
  max-width: 500px !important;
  padding: 20px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 10px;
}
.references__table th {
  background-color: #bfd732;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.references__table th,
.references__table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.references__table tr:hover {
  background-color: #ddd;
}

.selector__references {
  top: 222px;
  position: absolute;
  align-self: flex-end;
  padding: 10px;
}
.references__button {
  background-color: #fff;
  position: relative;
  color: black;
  padding: 5px;
  border-radius: 100px;
  border-color: #bfd732;
}

.emptyDesk {
  align-self: center;
  border-radius: 50%;
  background-color: #39b54a;
  width: 12px;
  height: 12px;
}
.emptyHall {
  border-radius: 50%;
  background-color: #f7931e;
  width: 12px;
  height: 12px;
}
.concurred {
  border-radius: 50%;
  background-color: #bfd732;
  width: 12px;
  height: 12px;
}
.full {
  border-radius: 50%;
  background-color: #444444;
  width: 12px;
  height: 12px;
}

/* ///////////// CALENDAR  \\\\\\\\\\\\\ */

.calendar_overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.image_calendar {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.userImg_calendar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #29abe2;
}

.close-buton-container {
  position: absolute;
  right: -5px;
  top: -40px;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.close_calendar {
  font-size: 1.8rem;
  color: #fff;
  margin: 5px 3px;
}

.calendar_container {
  margin: 2em auto 2em auto;
  position: relative;
  width: 93%;
  margin-top: 150px;
  min-width: 300px;
  max-width: 500px !important;
  padding: 20px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 10px;
}

.event_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.event_calendar {
  font-size: 0.9rem;
  color: #fff;
  margin-left: 2px;
}
.event_timeText {
  font-size: 1rem;
  margin-right: 15px;
  color: #fff;
  margin-left: 4px;
}

.delete_envent {
  font-size: 1.2rem;
  right: 3px;
  margin-left: 2px;
  margin-right: 3px;
  color: #fff;
}
.delete_envent:hover {
  color: #e20909;
}
.addParticipants {
  position: absolute;
  bottom: 0;
  right: 4px;
}

.addParticipantsIcon {
  font-size: 1.2rem;
}
.addParticipantsIconinEvent {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 4px;
}

.infoAdd {
  position: relative;
  right: 0;
  bottom: 0;
  background-color: #444444;
  opacity: 0;
}

.infoAdd:hover {
  opacity: 1;
}

.addParticipantsIconinEvent:hover {
  color: #bfd732;
}

.addIconEvent {
  border: #ff0000 solid 1px;
}

.fc .fc-toolbar-title {
  display: flex !important;
  justify-content: center !important;
  text-align: center;
  font-size: 1.3rem !important;
  color: #1a1a1a !important;
}

.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #bfd732 !important;
  background-color: var(--fc-button-bg-color, #bfd732) !important;
  border-color: #bfd732 !important;
  border-color: var(--fc-button-border-color, #bfd732) !important;
}

.fc .fc-button-primary:hover {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #444444 !important;
  background-color: var(--fc-button-bg-color, #444444) !important;
  border-color: #444444 !important;
  border-color: var(--fc-button-border-color, #444444) !important;
}

.fc-timegrid-event .fc-event-main {
  padding: 1px 1px 0;
  overflow: hidden;
  text-align: center;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem !important;
}

.fc .fc-daygrid-more-link {
  font-size: 0.35rem;
  color: #f7931e;
  background-color: #f7931e;
  display: flex;
  bottom: 10px !important;
  width: 85%;
  left: 5px;
}

.fc .fc-daygrid-day-number {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  color: #1a1a1a;
}
.fc .fc-timegrid-axis-cushion {
  color: #1a1a1a;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0 !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-radius: 5px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-radius: 10px;
  border: 1px solid var(--fc-border-color, #bfd732) !important;
}

.fc .fc-scrollgrid-liquid {
  border-style: none !important;
}

.fc-scroller-liquid::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.fc-scroller-liquid::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 4px;
}

.recover {
  text-align: center;
}

.desk__calendar {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

/* --------- pop over ----- */
.fc-popover-header {
  background: #dadada !important;
  color: rgb(18, 18, 18);
}

.fc-popover-body {
  background-color: #00292e;
}

.fc-theme-standard .fc-popover {
  border: 1.5px solid #bfd732 !important;
  overflow: scroll;
  max-height: 200px;
}

/* --------- RESERVAS ---------- */

.booking_container {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 20px;
}
.event-booking {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 5fr);
  flex-direction: row;
}
.book {
  text-align: center;
  height: 100%;
  padding: 2px 3px 2px 3px;
  width: 100%;
  border-right: #bfd732 0.5px solid;
  font-size: 0.9rem;
}
.book2 {
  text-align: center;
  height: 100%;
  padding: 2px;
  width: 100%;
  font-size: 0.9rem;
}

.fc-theme-standard .fc-list {
  border: 1px solid #bfd732 !important;
}
.fc-theme-standard .fc-list-day-cushion {
  background-color: #bfd732 !important;
  background-color: var(--fc-neutral-bg-color, rgba(208, 208, 208, 0.3));
}
.fc .fc-list-table {
  width: 100%;
  border-style: hidden;
  border-top-style: hidden !important;
}

.fc-theme-standard .fc-list-day-cushion {
  text-decoration: none !important;
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text {
  text-decoration: none !important;
  color: #fff;
}

.fc-direction-ltr .fc-list-day-side-text,
.fc-direction-rtl .fc-list-day-text {
  text-decoration: none !important;
  color: #fff;
}

.fc .fc-list-event-dot {
  width: 5px !important;
  color: #f7931e !important;
  border: 4px solid #f7931e !important;
}

.iconBooking {
  color: #f7931e !important;
  font-size: 1rem;
}
.fc-list-event-title {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 0 !important;
}

.fc .fc-list-table td,
.fc .fc-list-day-cushion {
  font-size: 0.9rem;
}

.fc-direction-ltr .fc-list-table .fc-list-event-graphic {
  position: absolute;
  left: -15px;
}

.fc .fc-list-table td {
  text-align: end;
}

.fc .fc-list-table td {
  background: none !important;
  align-items: center;
}

.fc .fc-list-table td,
.fc .fc-list-day-cushion {
  padding: 2px 5px !important;
  align-items: center;
}

.swal-modal {
  max-width: 400px;
}

/* --------- ADD PARTICIPANTS  ----------- */
.close_addParticipants {
  position: absolute;
  font-size: 1.8rem;
  right: 5px;
  top: -35px;
  color: #bfd732;
}
.add-container {
  margin-top: 50px;
  position: relative;
}

.friends_containerAddP {
  position: relative;
  background: rgba(0, 0, 0, 0.178);
  padding: 15px;
  width: 100%;
  height: 185px;
  margin: 25px auto 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 10px;
}

.IconsAddParticipants {
  display: flex;
  padding-left: 2px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #bfd732;
  color: white;
  border-radius: 50%;
}

.IconsRemoveParticipants {
  display: flex;
  padding-left: 2px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
}

.participants {
  margin: 15px 5px 0 5px;
}

/* ----------- ADMIN -------- */

.selector__inputsAdmin {
  position: relative;
  width: 100%;
  height: 8rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector__inputsAdmin select,
.selector__inputsAdmin input {
  width: 30vh;
  border-radius: 100px;
  background-color: none;
  padding: 10px;
  margin: 10px;
  display: block;
  align-self: center;
  border: none;
  background-color: #bfd732;
  border-bottom: 2px solid #bfd732;
}
.buttonsChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin: 0 auto;
}
.buttonSelector {
  color: #fff;
  background-color: #00a99d;
  border-radius: 5px;
  border-color: #00a99d;
  padding: 5px;
  margin: 5px;
}

.chart-Container {
  width: 97%;
  margin: 0 auto;
}

@media all and (min-width: 600px) {
  .floor_container,
  .floor_container--empty {
    width: 590px !important;
    height: 297px !important;
  }
  .floor_container canvas {
    width: 590px !important;
    height: 297px !important;
  }
}

@media all and (min-width: 768px) {
  .selector__references {
    top: -40px;
    right: 5px;
  }
  .floor_container,
  .floor_container--empty {
    width: 75% !important;
  }
  .selector__box {
    width: 30%;
    background: #bfd732;
    height: 297px;
    margin-bottom: 0;
    clip-path: none;
    margin-right: 10px;
  }
  .selector__inputs {
    margin-top: 80px;
    flex-direction: row;
    justify-content: center;
  }
  .selector__inputs select,
  .selector__inputs input {
    width: 90%;
  }
  .selector__img {
    display: none;
    width: 95%;
    height: 8rem;
    background-image: linear-gradient(to right bottom, #bfd732, #28b4857c),
      url("../assets/selector.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    margin: 10px;
  }

  .floor_container,
  .floor_container--empty {
    width: 768px !important;
    height: 297px !important;
  }
}

@media all and (min-width: 1080px) {
  .navContainer {
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
  }
  .calendar_overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .calendar_container {
    margin-top: 150px;
  }

  .selector__inputs {
    width: 1080px;
    margin-top: 80px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }
}

.goBackBtn {
  width: 150px;
  height: 40px;
  display: flex;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: white;
  color: #444444;
  font-size: 18px;
}

.goBackBtn:hover {
  color: #666666;
}
