@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  padding: 10px 15px;
}


/* ------ START NAV STYLES ----- */

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksNav {
  text-align: right;
  text-decoration: none;
  color: #444444;
}

.linksNav:hover {
  color: #bfd732;
}

.logOutBtn {
  text-align: right;
  background: none;
  border: none;
  color: #444444;
}

.logOutBtn:hover {
  color: #bfd732;
}

.dropDown {
  position: relative;
  display: block;
}

.dropDownMenu {
 
  background: none;
  border: none;
}

.dropDownMenuIcon {
  color: #444444;
  margin-top: 10px;
  font-size: 24px;
}

.dropDownSubMenuClosed {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 140px;
  right: 15px;
  top: 60px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.dropDownSubMenuOpen {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  z-index: 1;
  width: 140px;
  right: 15px;
  top: 60px;
  max-height: 150px;
  overflow: hidden;
  transition: all 300ms ease;
}

/* ------ END NAV STYLES ----- */

/* ------ START MODAL STYLES ----- */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  min-height: 100px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}

.modalContainer form {
  display: flex;
  flex-direction: column;
}

.modalContainer input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.loadImageBtn {
  text-align: center;
  background-color: #bfd732;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.modalSendBtn {
  padding: 5px;
  background-color: rgb(209, 209, 209);
  border: none;
  margin-bottom: 5px;
}

.modalCancelBtn {
  color: white;
  font-weight: 600;
  padding: 5px;
  background-color: rgb(255, 0, 0);
  border: none;
}

/* ------ END MODAL STYLES ----- */

/* -------- START CARDS STYLES-------- */

.friendIconsAdd{
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #bfd732;
  color: white;
  border-radius: 50%;
  
}


.friendIconsRemove{
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border: solid 4px white;
  width: 35px;
  height: 35px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
}

.dropDownMenu {
  background: none;
  border: none;

}

.addRemoveFrienIcon{
  font-size: 18px;
  
}

.cardContainer{
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPhotoContainer{
  position: relative;
}




.cardContainer h5{
  margin-left: -20px;
  padding: 10px;
  font-size: 14px;
}

.cardImg{
  width: 80%;
  overflow: hidden;
  border-radius: 50%;
}

.cardImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* ------ END CARDS STYLES ------- */

/* ------ START FRIENDS COMPONENT STYLES ------- */

.friendsCompContainer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.friends_container{

  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.friendsSearch{
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.friendsSearch button{
background: none;
border: none;
margin-bottom: 30px;
}


/* ------ END FRIENDS COMPONENT STYLES ------- */


.signin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}
.signin__title {
  text-align: center;
  font-size: 24px;
  margin: 30px;
}
.signin__validationCod {
  display: flex;
  justify-content: end;
}
.signin__validationCod--title {
  position: relative;
  font-size: 8px;
  margin-bottom: 0;
  cursor: pointer;
}

.signin__validationCod--message {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.signin__subtitle {
  font-size: 18px;
  align-self: flex-start;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  animation: moveInLeft 1s;
  animation-timing-function: ease-in;
}

.form__input {
  margin-bottom: 30px;
}

.form__input input {
  width: 279px;
  height: 37px;
  padding: 10px;
  flex-grow: 2;
  border: 1px solid #bfd732;
  border-radius: 5px 0 5px 0;
}
input:focus {
  outline: none;
}

.form__input--errormessage {
  font-size: 12px;
  padding: 3px;
  margin-top: 0;
  color: red;
  display: none;
}
.form a {
  font-size: 15px;
  align-self: center;
  text-decoration: none;
  color: #444444;
}
.form svg {
  height: 30px;
  color: #bfd732;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
  position: absolute;
}

.btn {
  padding-left: 24px;
  align-self: center;
  width: 150px;
  height: 35px;
  margin: 20px;
  background: #fff;
  color: #444444;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
}

.footer {
  position: relative;
  padding: 30px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePhotoContainer {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
}

.editProfilePhotoBtn {
  display: flex;
  padding-left: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  border: solid 4px white;
  width: 50px;
  height: 50px;
  background: #bfd732;
  border-radius: 50%;
}

.editPhotoIcon {
  color: white;
  font-size: 24px;
}

.profile_links {
  width: 100%;
  padding: 25px;
}

.profile_links div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bfd732;
}

.profile_links h4 {
  font-weight: 200;
  font-size: 18px;
}

.link_arrows {
  text-decoration: none;
  color: #bfd732;
  font-size: 30px;
}
hr {
  align-self: center;
  width: 50%;
  border-top: 2px solid #bfd732;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translate(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.floor {
  width: 50vh;
  height: 50vh;
}

.selector__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selector__inputs {
  padding: 2em;
}
.selector__inputs select {
  margin: 1em;
  display: block;
  align-self: center;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #bfd732;
}

.floor_container {
  width: 320px;
  height: 320px;
  border: 5px solid #666666;
}






/* ///////////// CALENDAR  \\\\\\\\\\\\\ */
.image_calendar{
  position: relative;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border:  2px solid #fff;
  border-radius: 50%;
}

.userImg_calendar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.calendar_container{
  margin: 20px auto 0px auto;

}


.event_calendar{
  font-size: 0.8rem;
}
.event_timeText{
  font-size: 0.6rem;
}
.fc .fc-toolbar-title {
  margin-left: 3px !important;
  margin-right: 3px !important;
  font-size: 1rem !important;
}


.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #bfd732 !important;
  background-color: var(--fc-button-bg-color, #bfd732) !important;
  border-color: #bfd732 !important;
  border-color: var(--fc-button-border-color, #bfd732) !important;
}

.fc .fc-button-primary:hover {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #444444!important;
  background-color: var(--fc-button-bg-color, #444444) !important;
  border-color: #444444!important;
  border-color: var(--fc-button-border-color, #444444) !important;
}

.fc-timegrid-event .fc-event-main {
  padding: 1px 1px 0;
  overflow: hidden;
  text-align: center;
}


.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
  font-size: 0.8rem !important;
}

.fc .fc-daygrid-day-frame {
  height: 20px;
  background-color: #bfd732;
  display: none;
}


.fc-theme-standard td, .fc-theme-standard th {
  border-radius: 10px;
  border: 1px solid  #63E3CF  !important;
  border: 1px solid var(--fc-border-color, #bfd732) !important;
}
.fc .fc-timegrid-axis-frame {
  border-style: none !important;
  display: none !important;
}

.fc .fc-timegrid-divider {
  display: none;
}

.fc-col-header{
  border-bottom-style: hidden;
}

.fc .fc-scrollgrid-liquid {
  border-style: none !important;
}

.recover {
  text-align: center;
}




